.upar{
    width: 75%;
    background-color: rgb(199, 182, 182);
    height: 175px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cells{
    height: 100px;
    width: 100px;
}

#tabl{
    margin: auto;
}
