.upar{
    width: 75%;
    background-color: rgb(199, 182, 182);
    height: 175px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cells{
    height: 125px;
    width: 125px;
    text-align: center;
    font-size: 80px;
}

#tabl{
    margin: auto;
}

table, th, td {
    border: 1px solid black;
  }